.char_card{
    padding: 2vmin;
    /* height: 50vmin; */
    background-color: var(--ultra-violet);
    color:rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid #cebc1b;

    display: grid;
    grid-template-columns: 400px auto auto;
    grid-template-rows: auto 120px;
    gap: 2vmin;

    margin: 1vmin 0vmin;
    /* box-sizing: border-box; */
    /* justify-content: space-around; */
}

@media (max-width: 1250px) {
    .char_card{
        padding: 2vmin;
        /* height: 50vmin; */
        background-color: var(--ultra-violet);
        color:rgb(0, 0, 0);
        border-radius: 10px;
        border: 2px solid #1baace;
    
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: auto auto 120px;
        gap: 2vmin;
    
        margin: 1vmin 0vmin;
        /* box-sizing: border-box; */
        /* justify-content: space-around; */
    }

}
@media (max-width: 750px) {
    .char_card{
        padding: 2vmin;
        /* height: 50vmin; */
        background-color: var(--ultra-violet);
        color:rgb(0, 0, 0);
        border-radius: 10px;
        border: 2px solid #1baace;
    
        display: grid;
        grid-template-columns: 400px;
        /* grid-template-rows: auto auto 120px; */
        gap: 2vmin;
    
        margin: 1vmin 0vmin;
        /* box-sizing: border-box; */
        justify-content: center;
    }

}
textarea {
    background-color: var(--vista-blue);
    font-family: 'Unbounded', sans-serif;
    border: 0;
    border-radius: 10px;
    /* min-width: 100%;
    min-height: 100%; */
    resize: none;
    &:focus, input:focus{
        outline: none;
    }
}
input{
    background-color: var(--vista-blue);
    font-family: 'Unbounded', sans-serif;
    &:focus, input:focus{
        outline: none;
    }
    border: 0;
    border-radius: 10px;

}
button{
    font-family: 'Unbounded', sans-serif;
    border: 0;

}

/* Стили для карточек */
.card {
    background-color: var(--vista-blue);
    border-radius: 0 15px 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin: 10px; */
}
.pic {
    grid-row: span 2;
    display:block;
    box-sizing: border-box;
	width: 400px;
    /* border: 2px solid #ce5c1b; */
    /* margin: 10px; */
    /* height: 400px; */
}


/* Все что должно группироваться в под таблицуы */
/* таблицу в таблице надо убрать */
.items {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vmin;
}
.cones {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vmin;
}
.text {
    /* display: flex; */
    /* grid-row: span 2; */
}

/* -------------------------------------------ОВЕРЛЕЙ ---------------*/
