
:root{
--davys-gray: #4D4E57ff;
--white: #FEFDFDff;
--vista-blue: #909BCEff;

/* кнпки */
--jet: rgb(65, 69, 88);
--white-2: #FEFEFEff;
--ultra-violet: #55609Dff;
/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&display=swap'); */

}
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
.App {
  /* @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;431&display=swap'); */
  text-align: center;
  font-family: 'Unbounded', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
  background-color: var(--ultra-violet);
}
*{
  /* background-color: bisque; */
}
body{
  background-color: var(--ultra-violet);

}

#nav{
  background-color: var(--davys-gray);
  display: flex;  
  flex-direction: row;  
  justify-content: center;
  /* margin-bottom: 5vmin; */
}
.btm{
  padding: 2vmin;
  cursor: pointer;
  background-color: var(--jet);
  color: var(--white);
  display: flex;  
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 0 0 ;
  
  margin: 2vmin 2vmin;
  /* box-shadow: 0 1vmin 15px 0 rgba(0, 0, 0, 0.479); */
  text-decoration: none;
}
.link{
  color: var(--white);
  text-decoration: none;
}
.link:hover{
  color: var(--vista-blue);
}

/* Шапка */
#content{
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

